html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    font-size: 18pt;
    padding: 1em;
}

.full-height {
  min-height: 95vh;
  padding: 3em;
}

.half-height {
  min-height: 50vh;
  padding: 2em;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.column {
  flex-direction: column;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links {
  padding-top: 2em;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a:hover {
  color: #636b6f;
  text-decoration: underline;
}

.m-b-md {
    margin-bottom: 30px;
}

.alert {
  width: 25em;
  border-radius: 10px;
  border: solid 1px red;
  padding: 2em;
  background-color: rgba(234, 20, 20, 0.25);
  font-size: 1.2em;
  color: black;
}
ul.alert li {
  margin-top: 1em;
  list-style-type: none;
}

.help {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.help .helptext {
    visibility: hidden;
    width: 25em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the help text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the help text when you mouse over the help container */
.help:hover .helptext {
    visibility: visible;
}

.footer {
  background: #162129;
  color: #ebebeb;
  padding: 1.5em;
}
